#search{
    margin: 9px 8px 10px 8px;
    width: 100%;
    display: none;
}

#topNav{
    position: fixed;
    z-index: 200;
    top:0;
    width: 100%;
}

#bottomNav{
    position: fixed;
    z-index: 200;
    bottom:0;
    width: 100%;
}


.jyuuBar{
    position: relative;
    display: flex;
    padding: 0.5rem 1rem;
}



#leftNav{
    position: fixed;
    z-index: 200;
    top: 0;
    left:0;
    height: 100%;
}

#rightNav{
    position: fixed;
    z-index: 200;
    top: 0;
    right:0;
    height: 100%;
}

#leftNav nav{
    flex-direction: column;
}

#leftNav nav div{
    margin: 20px 0;
}


#rightNav nav{
    flex-direction: column !important;
}

#rightNav nav div{
    margin: 20px 0;
}


.navbar-toggler{
    border-radius: 50% !important;
}


.purpleBar{
    background-color: #a020f0;
}

.purpleBar-btn{
    background-color: #721fbd !important;
    border-radius: 50% !important;
    display: inline-flex;
    margin: 0 auto;
    line-height: 1;
    font-size: 1.75rem !important;
    cursor: pointer;
}

.blueBar{
    background-color: #1c39ff;
}

.blueBar-btn{
    background-color: #1922bd !important;
    border-radius: 50% !important;
    display: inline-flex;
    margin: 0 auto;
    line-height: 1;
    font-size: 1.75rem !important;
    cursor: pointer;
}

.greenBar{
    background-color: #40e54f;
}

.greenBar-btn{
    background-color: #33bc40 !important;
    border-radius: 50% !important;
    display: inline-flex;
    margin: 0 auto;
    line-height: 1;
    font-size: 1.75rem !important;
    cursor: pointer;
}

.redBar{
    background-color: red;
}

.redBar-btn{
    background-color: #bd383b !important;
    border-radius: 50% !important;
    display: inline-flex;
    margin: 0 auto;
    line-height: 1;
    font-size: 1.75rem !important;
    cursor: pointer;
}

.yellowBar{
    background-color: yellow;
}

.yellowBar-btn{
    background-color: #d8db10 !important;
    border-radius: 50% !important;
    display: inline-flex;
    margin: 0 auto;
    line-height: 1;
    font-size: 1.75rem !important;
    cursor: pointer;
}

.pinkBar{
    background-color: hotPink;
}

.pinkBar-btn{
    background-color: #da5d99 !important;
    border-radius: 50% !important;
    display: inline-flex;
    margin: 0 auto;
    line-height: 1;
    font-size: 1.75rem !important;
    cursor: pointer;
}

.blackBar{
    background-color: #000000;
}

.blackBar-btn{
    background-color: #721fbd !important;
    border-radius: 50% !important;
    display: inline-flex;
    margin: 0 auto;
    line-height: 1;
    font-size: 1.75rem !important;
    cursor: pointer;
}

.whiteBar{
    background-color: #ffffff;
}

.whiteBar-btn{
    border: 1px solid black;
    border-radius: 50% !important;
    display: inline-flex;
    margin: 0 auto;
    line-height: 1;
    font-size: 1.75rem !important;
    cursor: pointer;
    color: black;
}

.navbar{
    display: flex;
    color: #ffffff;
    flex-direction: row;
}


.navButton{
    background-color: #721fbd !important;
    border-radius: 50% !important;
    display: inline-flex;
    margin: 0 auto;
    line-height: 1;
    font-size: 1.75rem !important;
    cursor: pointer;
}

.navbar-jiyuu-topNav, .navbar-jiyuu-bottomNav{
    flex-direction: row !important;
    justify-content: space-between;
}

.navbar-jiyuu-leftNav, .navbar-jiyuu-rightNav{
    flex-direction: column;
    justify-content: space-between;
}

.extend-jiyuu-leftNav, .extend-jiyuu-rightNav{
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.extend-jiyuu-topNav, .extend-jiyuu-Nav{
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

#button-drawer-topNav, #button-drawer-bottomNav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#button-drawer-leftNav, #button-drawer-rightNav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}

#button-drawer-leftNav div, #button-drawer-leftNav div{
    margin: 10px auto;
}


#newPostContain{
    margin: 0 50px 0 50px;
}


.navToggle{
    background-color: #721fbd !important;
}