

.searchResults{
    top: 0;
    display: none;
    position: fixed;
    z-index: 25;
    margin-top: 92px;
    background-color: rgba(8, 8, 8, 0.65);
    height: calc(100vh - 92px);
    width: 100%;
}

#searchContain{
    z-index: 300;
}

.search-item{
    padding: 10px;
    color: white;
}

.search-item:hover{
    background-color: rgba(255, 255, 255, 0.38);
}