
.settings-card-contain{
    padding: 30px 9px 0 9px;
}

#settings-card{
    margin: 0 auto;
    max-width: 500px;
    min-height: 80vh;
}

#registerColor{
    height: 39px;
}

.btn-s{
    margin: 5px 5px 0 5px !important;
}