
.action-bar {
    margin: 0;
    background: rgba(86, 86, 86, 0.2);
    display: flex;
    margin-top: -1px;
}

.action-bar-divider {
    height: 20px;
    width: 1px;
    background: dimgrey;
    margin-top: 9px;
}

.action-button{
    margin: 0 auto;
    padding: 5px 20px;
    display: inline-flex;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    /*
    .action-button{
        padding: 5px 10px;
        font-size: 15px;
    }
    */

    .action-bar{
        padding: 5px 10px;
        justify-content: center;
    }
}